*{ /*el asterisco significa que los estilos serán aplicados a toda la página*/     
    box-sizing: border-box; /*esto hace que los elementos no crezcan mas del tamaño que le voy a dar*/ 
}

body {
    margin: 0; /*para eliminar el margen automatico que tiene el body*/
    background-color: #F9ECE5;
    /*border: 1px solid red;*/
}

header{
    margin: 0;
}

#contenido{
    /*border: 1px solid blue;*/

    width: 100%;
    min-height: 100vh;
    
    display: flex; /*para crear un contenedor flexible*/
    flex-wrap: wrap;
    justify-content: center; /*centra los elementos de manera horizontal*/
    align-items: center; /*centra los elementos de manera vertical*/

    flex-direction: row-reverse; /*para que no esten en fila*/
  
}

#contenidoPrincipal{
    transform: scale(1.4); /*para escalar el contenido principal porque estaba muy pequeño*/
    transform-origin: bottom; /*para determinar desde donde va a empezar a escalar*/
    margin-top: 262px;
}

#imagenDere{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

#imagenIzqui{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

h1{

    font-family: "Poly", serif; /*familia de fuente a la que pertenece, el "serif" es la fuente alternativa en caso la página no cargue la primera fuente*/
    font-size: 40px; /*tamaño de fuente*/
    color: #675E1B; /*color de la fuente*/
    -webkit-text-stroke: 1px #675E1B; /*sirve para poder ponerle un borde a la letra, "stroke" aplica solo para vectores*/
    font-weight: 400; /*define el peso del texto, un equivalente a (bold, light, normal, etc)*/
    text-align: center; /*para alinear el texto*/
}

#primerParrafo{
   font-family: "Poppins", serif;
   font-size: 15px;
   color: #3C2724;
   font-weight: normal; 

   width: 100%;
   max-width: 506px; /*le puse esa cantidad para que este del mimso ancho que la caja de texto*/
}

textarea[name="user-input"]{
    height: 150px; /*alto*/
    width: 100%;
    max-width: 506px; /*ancho*/
    background-color: #EDD9CE; /*color de la caja*/
    border-radius: 28px; /*el redondeo de las esquinas*/

    font-family: "Poly", serif;
    font-size: 15px;
    padding: 26px; /*margen interno*/
    color: #3C2724; /*color del texto ingresado*/

    resize: none; /*para que la caja de texto no se pueda agrandar*/
}

textarea[name="user-input"]::placeholder { /*nota mental: no dejar espacios en la sintaxis*/
    font-family: 'Poly';
    font-size: 16px;
    color: #968484;
}

ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 506px;
    justify-content: center;
    padding: 0;

    font-family: 'Poly', serif;
    font-size: 15px;
    color: #3C2724;

    list-style: none; /*para quitar las viñetas de la lista*/
}

.elemento{
    box-sizing: border-box; /*hace que todas las especificaciones se realicen en torno al tamaño del contenido*/
    border: 1px solid #675E1B;
    border-radius: 24px;
    padding: 12px 19px;
    background-color: #F9ECE5;
    margin: 10px;
    width: auto calc(30% - 20px); 
    height: auto;
    
}

#reset-button{
    background-color: #816150;
    border: 1px solid #46352B;
    border-radius: 24px;
    
    width: 100%;
    max-width: 506px;
    height: 43px;

    font-family: 'Poppins', serif;
    font-size: 15px;
    color: #FBFBFB;
    text-align: center;

    cursor: pointer; /*para que al colocar el cursor encima del botón se vea la manito*/
}

#reset-button:active{ /*active es una pseudoclase que sirve para aplicarle un estilo al boton cuando se le de click*/
    transform: scale(0.95); /*para que al darle click pueda hacerse más chiquito y por lo tanto, el efecto de presión*/
}

footer{
    font-family: 'Poly', serif;
    font-size: 15px;
    color: #968484;
    text-align: center;

    background-color: #EDD9CE;
    width: 100%;
    height: 83px;
    padding-top: 10px;

    position:relative; /*su posicion no afectara a los otros elementos*/
    margin-top: 81px;
}













/*html, body {
    height: 100%;
    margin: 0;
}

body{
    background: #F9ECE5;
    justify-content: center;
    align-items: center;
    display: flex;
}

header {
    margin-bottom: 20px;
}

h1 {
    color: #675E1B;
    font-size: 40px;
    font-style: normal;
    font-family: "Poly", serif;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    -webkit-text-stroke: 1px #675E1B;
}

.contenido {
    flex: 1;
    display: flex;
    align-items: left;
    padding: 40px;

    transform: scale(1.5);
    transform-origin: left center;
}

.contenido-principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.contenido-sin-imagen {
    flex: 1;
    max-width: 50%;
}

.elemento {
    background-color: #F9ECE5;
    border: 1px solid #675E1B;
    border-radius: 24px;
    padding: 12px 19px;
    width: calc(50% - 10px);
    text-align: left; 88
    box-sizing: border-box;
    margin: 0px;
}

p {
    color: #3C2724;
    font-size: 15px;
    font-style: normal;
    font-family: "Poppins", serif;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-bottom: 20px;
}

img {
    max-width: 50%;
    height: left;
    align-self: flex-start;
    padding-right: 20px;

}

textarea[name="user-input"] {
    box-sizing: border-box;
    height: 150px;
    max-width: 506px;
    width: 100%;

    padding: 26px;

    background-color: #EDD9CE;
    border: 1px solid #675E1B;
    border-radius: 28px;

    font-family: 'Poly';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #3C2724;
    
    margin-bottom: 20px;
    resize: none;
    overflow: auto;
}

textarea[name="user-input"]::-webkit-scrollbar {
    width: 12px;
}
textarea[name="user-input"]::-webkit-scrollbar-track {
    background: #EDD9CE;
    border-radius: 28px;
}
textarea[name="user-input"]::-webkit-scrollbar-thumb {
    background-color: #46352B;
    border-radius: 28px;
    border: 3px solid #EDD9CE;
}
textarea[name="user-input"]::-webkit-scrollbar-thumb:hover {
    background-color: #46352B;
}

textarea[name="user-input"]::placeholder {

    font-family: 'Poly';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #968484;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-family: 'Poly';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #3C2724;    
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    gap: 10px;
    width: 506px;
}


#reset-button {
    height: 43px;
    width: 506px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FBFBFB;
    
    box-sizing: border-box;
    background-color: #816150;
    border: 1px solid #46352B;
    border-radius: 24px;
    cursor: pointer;
}
#reset-button:active {
    transform: scale(0.95);
}

footer {
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    background-color: #EDD9CE;
    position: absolute;
    bottom: 0;
}

footer p {
    
    text-align: center;
    margin: 10px;
    font-family: "Poly";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #968484;
}*/